.chat-chat-container {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  overflow: hidden;

  background: linear-gradient(
    195deg,
    #f3f9ff 0.51%,
    #f2f8ff 54.53%,
    #fff 78.86%,
    #fafcff 89.34%
  );
  position: relative;

  .chat-box {
    flex: 1;
    min-width: 350px; 
    max-width: 1400px; 
    margin: 0 auto; 
    display: flex;
    overflow: hidden;
    flex-direction: column;
    overflow: auto;
    .message-container {
      flex: 1;
      padding: 16px;
      margin-bottom: 90px;
    }

    .chat-content {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    .chat-item {
      --chat-gap: 38px;

      display: flex;
      flex-direction: column;
      gap: 24px;

      .user-message-row {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
      }

      .chat-time {
        font-size: 12px;
        color: #8d9ab2;
        margin-right: 12px;
        flex-shrink: 0;
        align-self: flex-end;
        padding-bottom: 10px;
      }

      .user-wrap {
        // padding-left: var(--chat-gap);

        .chat-user {
          top: 0;
          right: 0;

          float: right;
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          min-height: 46px;
          border-radius: 12px 0 12px 12px;
          padding: 10px 16px;
          // margin-left: var(--chat-gap);

          background-color: #d1e6ff;
        }
      }

      .chat-text {
        max-width: 100%;
        margin-bottom: 0 !important;
        border: none;

        white-space: pre-wrap;

        box-shadow: none;
      }

      .chat-think-status {
        display: flex;
        height: 20px;
        align-items: center;
        margin-bottom: 16px;

        .chat-think-icon {
          width: 17px;
          height: 17px;
        }

        .chat-think-title {
          margin: 0 16px 0 8px;

          font-size: 12px;
          line-height: 20px;
          color: #2c455c;
        }

        .chat-arrow-icon {
          font-size: 16px;
        }
      }

      .chat-collapse {
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: height 0.8s ease-out;
      }

      .chat-expand {
        width: 100%;
        height: auto;
        margin-bottom: 16px;
        transition: height 0.8s ease-in;
      }

      .chat-think-text {
        max-width: 100%;
        max-height: 30vh;
        padding-left: 24px;
        overflow-x: hidden;
        overflow-y: auto;

        white-space: pre-wrap;
        font-size: 12px;
        border-left: 1px solid #dfe6ef;

        color: #5f6b7e;

        background-color: #fff;

        .rag-markdown p {
          margin-bottom: 4px;
        }
      }
    }
  }

  .action-container {
    position: absolute;
    bottom: 16px;
    left: 0;
    width: 100%;
  }

  .bottom-bar,
  .input-box {
    display: flex;
    align-items: center;
    gap: 12px;

    margin: 0 16px;
  }

  .bottom-bar {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .add-btn {
      border: none;
      display: flex;
      align-items: center;
      border-radius: 4px;
      padding: 2px 8px;

      font-size: 12px;

      color: #8d9ab2;
      font-weight: 400;

      box-shadow: 0 0 6px 0 rgb(183 208 226 / 25%);

      background: #fff;

      .ant-btn-icon {
        line-height: 1;
      }

      svg {
        font-size: 16px;
      }
    }

    .chat-tip {
      font-size: 12px;
      color: #b8c3d7;
      font-weight: 400;
      line-height: 20px;
    }
  }

  .input-box {
    border: 1px solid #dfe6ef;
    border-radius: 6px;
    padding: 12px 10px;
    padding-left: 5px;

    background-color: #fff;
    gap: 32px;

    &.disabled {
      background: #f2f6f9;
    }

    .input {
      border: none;

      box-shadow: none;

      &:disabled {
        background: #f2f6f9;
      }
    }

    .submit-btn {
      height: 30px;
      padding: 4px 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;

      & > span {
        font-size: 22px;
      }
    }

    &:focus,
    &:focus-within,
    &:hover {
      border: 1px solid #006ae6;

      .input,
      .submit-btn {
        border: none;

        box-shadow: none;
      }
    }
  }
}

pre {
  margin-bottom: 0;
}
