.micro-knowledge-page {
  width: 100%;
  min-width: 0;
  height: 100%;
  padding: 12px;
  padding-bottom: 0;
}

.micro-knowledge-page .scroll-container {
  --scrollbar-thumb-color: transparent;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--scrollbar-thumb-color);
    transition: background-color 0.2s ease;
  }

  &:hover {
    --scrollbar-thumb-color: #c1c1c1;
  }
}

.knowledge-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  height: calc(100vh - 48px);
  align-items: stretch;
  overflow: hidden;
}

.knowledge-title {
  margin: 0;
  display: flex;
  padding-bottom: 16px;
  width: 100%;
  align-items: center;

  .title-text {
    max-width: 60%;
    overflow: hidden;

    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
  }
}

.knowledge-title.admin-page-title {
  font-size: 28px;
  font-weight: 700;
  color: #111827;
}

.list-header {
  width: 100%;
  padding-bottom: 16px;
}

.link-btn {
  padding-left: 0px;
  padding-right: 0px;
}

.text-ellipsis {
  overflow: hidden;

  text-overflow: ellipsis;
  text-align: left;
}

.text-single-line {
  white-space: nowrap;
}
